.header
    background-color rgba(5,20,23,0.5)
    height 180px
    padding 20px
    color white
    text-align center
body
  background-color #051417
  background-image url(./textures/soft-wallpaper.png)
